{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Tweets{% endblock %}</h2>
{% endblock %}

{% block content %}
<div>
    <ul class="list-group ">
        {% for tweet, author in tweets_authors: %}
        <li class="list-group-item" id="{{tweet.id}}">
            <div class="flex-column">
                <div>
                    <h5 class="fs-1"> Author: @{{author}}</h5>
                    <h6 class="fw-bold">Title: @{{tweet.title}}</h6>
                    <p> Content: {{tweet.content}} </p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}