{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Tweets{% endblock %}</h2>
{% endblock %}

{% block content %}
<script>

    function collectFormData() {
        document.getElementById('createTweetError').style.display = 'none'
        let form_data = new FormData(document.getElementById('createTweetForm'));

        if (form_data.get('title') == "" || form_data.get('content') == "") {
            document.getElementById('createTweetError').style.display = 'block'
            return null
        }
        return form_data
    }

    function submitTweet() {
        const submit_tweet_action = async () => {
            form_data = collectFormData()
            if (form_data == null) {
                return
            }

            var target_url = "/tweets/new_tweet";
            const request = await fetch(target_url, {
                "method": "POST",
                "body": form_data
            });
            if (request.redirected) {
                window.location = request.url;
            }
        };
        submit_tweet_action.call();
    }

    function generateTweet() {
        showGenerateLoading(true)
        const generate_tweet_action = async () => {
            form_data = collectFormData()
            if (form_data == null) {
                return
            }
            var target_url = "/tweets/new_tweet/generate";
            const request = await fetch(target_url, {
                "method": "POST",
                "body": form_data
            });
            if (request.redirected) {
                window.location = request.url;
            }

        };
        generate_tweet_action.call();
    }

    function showGenerateLoading(show) {
        document.getElementById('generateText').style.display = show ? "none" : "block"
        document.getElementById('generateLoading').style.display = !show ? "none" : "block"
        document.getElementById('generateLoadingText').style.display = !show ? "none" : "block"
    }

    function commentTweet(tweetId) {
        const fetch_tweet_and_comment = async () => {
            var target_url = "/tweets/get?id=" + tweetId
            const response = await fetch(target_url, {
                "method": "GET"
            })

            if (response.ok) {
                let json = await response.json()
                tweet = json['tweet']
                user = json['user']
                console.log(tweet)
                document.getElementById('title').value = "Commenting on: " + tweet['title'] + " by " + user['username'] + " " + tweet['time_created']
                document.getElementById('content').value = "\"" + tweet['content'] + "\""
                window.scrollTo(0, 0);
            }
        }
        fetch_tweet_and_comment.call();
    }

    function likeActionTweet(tweetId, isLike) {
        const like_or_unlike_tweet = async () => {
            var target_url = "/tweets/like"
            const response = await fetch(target_url, {
                method: isLike ? "POST" : "DELETE",
                body: JSON.stringify(
                    {
                        "tweetId": tweetId
                    }
                ),
                headers: {
                    "Content-type": "application/json"
                }
            })

            if (response.ok) {
                // This is a hack
                // We cant use a redirect and modifying the dom here is painful
                window.location.href = window.location.href;
            }
        }
        like_or_unlike_tweet.call()
    }

    window.onload = function () {
        showGenerateLoading(false)
        document.getElementById('createTweetError').style.display = 'none'
        document.getElementById('tweet_submit').onclick = function (_) {
            submitTweet()
        }
        document.getElementById('tweet_generate').onclick = function (_) {
            generateTweet()
        }
    }
</script>

<div class="w-50 mb-4">
    <form id="createTweetForm">
        <div class="form-group">
            <label for="title">Tell us what it is about</label>
            <input class="form-control" id="title" name="title" rows="1" required>
        </div>
        <div class="form-group">
            <label for="content">Tell us what you think</label>
            <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
        </div>
        <p id="createTweetError" class="text-danger" hidden>
            Oops! Missing a required field
        </p>
        <small id="under_text" class="form-text text-muted">Always happy to see you.</small>
        <div class="row mt-1">
            <div class="col">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" id="tweet_submit">Submit Tweet</button>
                </div>
            </div>
            <div class="col">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" id="tweet_generate">
                        <span id="generateText">Submit but smarter</span>
                        <span id="generateLoading" class="spinner-grow spinner-grow-sm" role="status"
                            aria-hidden="true"></span>
                        <span id="generateLoadingText" class="sr-only">Loading...</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


<div>
    <ul class="list-group">
        {% for tweet, author in tweets_authors: %}
        <li class="list-group-item" id="{{tweet.id}}">
            <div class="flex-column">
                <div class="row ml-1 mb-1">
                    {% if author.avatar %}
                    <img src="{{url_for('users.get_user_avatar',path=author.avatar) }}" width="56" height="56"
                        class="rounded-circle" alt="Avatar">
                    {% else %}
                    <img src="/static/assets/avatar_icon.png" width="56" height="56" class="rounded-circle"
                        alt="Avatar">
                    {% endif %}
                    <h5 class="align-self-center ml-2">
                        <a style="color: black;" href="/users/search/{{author.username}}">@{{author.username}}</a>
                    </h5>
                </div>
                <div>
                    <h6 class="fw-bold">{{tweet.title}}</h6>
                    <p> {{tweet.content}} </p>
                    <small> {{tweet.time_created}} </small>
                </div>
                <div class="d-flex justify-content-around">
                    {% if tweet.id in liked_tweets %}
                    <button id="buttonUnlike" class="btn btn-default"
                        onclick="likeActionTweet({{tweet.id}}, false)"><img
                            src="/static/assets/heart_icon_filled_24.png" width="24" height="24"></button>
                    {% else %}
                    <button id="buttonLike" class="btn btn-default" onclick="likeActionTweet({{tweet.id}}, true)"><img
                            src="/static/assets/heart_icon_outline_24.png" width="24" height="24"></button>
                    {% endif %}
                    <button id="buttonRetweet" class="btn btn-default" onclick="commentTweet({{tweet.id}})"><img
                            src="/static/assets/chat_icon_outline_24.png" width="24" height="24"></button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}