{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Tweets{% endblock %}</h2>
{% endblock %}

{% block content %}
<script>
    function submitTweet() {
        const submit_tweet_action = async () => {
            document.getElementById('createTweetError').style.display = 'none'
            let form_data = new FormData(document.getElementById('createTweetForm'));

            var target_url = "/tweets/new_tweet";

            if (form_data.get('title') == "" || form_data.get('content') == "") {
                document.getElementById('createTweetError').style.display = 'block'
                return
            }

            const request = await fetch(target_url, {
                "method": "POST",
                "body": form_data
            });
            if (request.redirected) {
                window.location = request.url;
            }
        };
        submit_tweet_action.call();
    }

    function commentTweet(tweetId) {
        const fetch_tweet_and_comment = async () => {
            var target_url = "get?id=" + tweetId
            const response = await fetch(target_url, {
                "method": "GET"
            })

            if (response.ok) {
                let json = await response.json()
                tweet = json['tweet']
                user = json['user']
                console.log(tweet)
                document.getElementById('title').value = "Commenting on: " + tweet['title'] + " by " + user['username'] + " " + tweet['time_created']
                document.getElementById('content').value = "\"" + tweet['content'] + "\""
                window.scrollTo(0, 0);
            }
        }
        fetch_tweet_and_comment.call();
    }

    window.onload = function () {
        document.getElementById('createTweetError').style.display = 'none'
        document.getElementById('tweet_submit').onclick = function (_) {
            submitTweet()
        }
    }
</script>

<div class="w-50 mb-4">
    <form id="createTweetForm">
        <div class="form-group">
            <label for="title">Tell us what it is about</label>
            <input class="form-control" id="title" name="title" rows="1" required>
        </div>
        <div class="form-group">
            <label for="content">Tell us what you think</label>
            <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
        </div>
        <p id="createTweetError" class="text-danger">
            Oops! Missing a required field
        </p>
        <small id="under_text" class="form-text text-muted">Always happy to see you.</small>
        <div class="text-right">
            <button type="button" class="btn btn-primary" id="tweet_submit">Submit Tweet</button>
        </div>
    </form>
</div>


<div>
    <ul class="list-group">
        {% for tweet, author in tweets_authors: %}
        <li class="list-group-item" id="{{tweet.id}}">
            <div class="flex-column">
                <div>
                    <h5>Author:
                        <a style="color: black;" href="/users/search/{{author}}"> {{author}}</a>
                    </h5>
                    <h6 class="fw-bold">Title: {{tweet.title}}</h6>
                    <p> Content: {{tweet.content}} </p>
                    <small> {{tweet.time_created}} </small>
                </div>
                <div class="d-flex justify-content-around">
                    <button id="buttonLike" class="btn btn-default"><img src="/static/assets/heart_icon_outline_24.png"
                            width="24" height="24"></button>
                    <button id="buttonRetweet" class="btn btn-default" onclick="commentTweet({{tweet.id}})"><img
                            src="/static/assets/chat_icon_outline_24.png" width="24" height="24"></button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}