{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Profile of {{user.username}}{% endblock %}</h2>
{% endblock %}

{% block content %}

<script>

    window.onload = function(){
    document.getElementById("left_column").style.backgroundColor = "lightgray";
    document.getElementById("right_column").style.backgroundColor = "lightgray";
}

</script>

<script>

    function submitFollow() {
        const submit_follow_action = async () => {
            var target_url = '/follow/{{ user.username }}'
            console.log(target_url)
            const request = await fetch(target_url, {
                "method": "POST",
            });
            if (request.redirected) {
                window.location = request.url;
            }
            if (request.status !== 200) {
                return;
            }
            document.getElementById('followButton').innerHTML = 'Unfollow';
            document.getElementById('followButton').innerText = 'Unfollow';
            document.getElementById('followButton').textContent = 'Unfollow';
            document.getElementById('followButton').style.background = "red";
            document.getElementById('followButton').onclick = submitUnfollow;
        };
        submit_follow_action.call();
    }

    function submitUnfollow() {
        const submit_unfollow_action = async () => {
            var target_url = '/follow/{{ user.username }}'
            console.log(target_url)
            const request = await fetch(target_url, {
                "method": "DELETE",
            });
            if (request.redirected) {
                window.location = request.url;
            }
            if (request.status !== 200) {
                return;
            }
            document.getElementById('followButton').innerHTML = 'Follow';
            document.getElementById('followButton').innerText = 'Follow';
            document.getElementById('followButton').textContent = 'Follow';
            document.getElementById('followButton').style.background = "cornflowerblue";
            document.getElementById('followButton').onclick = submitFollow;

        };
        submit_unfollow_action.call();
    }

    function deleteTweet(id) {
        const delete_action = async () => {
            var target_url = '/tweets/delete'
            const request = await fetch(target_url, {
                "method": "DELETE",
                "body" : id,
            });
            if (request.status !== 200) {
                return
            }

            <!-- Modifiying display -->
            var to_remove = document.getElementById(id)
            to_remove.parentNode.removeChild(to_remove)

            var old_count = parseInt(document.getElementById("tweet_count").innerText)
            document.getElementById("tweet_count").innerText = (old_count - 1).toString()

        }
        delete_action.call(id)
    }

    function deleteProfile(id) {
        const delete_action = async () => {
            var target_url = "/users/delete"
            const request = await fetch(target_url, {
                method: "DELETE",
                body: id
            })

            if (request.redirected) {
                window.location = request.url;
            }
        }

        delete_action.call()
    }

</script>


<div class="py-5 h-50" style="background-color: #1DA1F2;">
    <div class="d-flex  m-3 justify-content-center align-items-center h-100">
        <div class="card " style="border-radius: 15px;">
            <div class="card-body p-4 text-black">
                <div>
                    <h5 class="mb-1">@{{user.username}}</h5>
                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color: #efefef;">
                        <div>
                            <p class="small text-muted mb-1">Tweets</p>
                            <p class="mb-0" id="tweet_count">{{tweets|length}}</p>
                        </div>
                        <div class="px-3">
                            <p class="small text-muted mb-1">Followers</p>
                            <p class="mb-0">{{nb_followers}}</p>
                        </div>
                        <div class="px-3">
                            <p class="small text-muted mb-1">Email</p>
                            <p class="mb-0">{{user.email}}</p>
                        </div>
                    </div>
                    <div class="d-flex pt-1 justify-content-center">
                        {% if own_profile : %}
                        <button type="button" class="btn btn-danger m-1" onclick="deleteProfile({{user.id}})">Delete</button>
                        {% else %}
                        {% if already_follows : %}
                        <button type="button" class="btn btn-primary m-1" id="followButton"
                            style="background-color: cornflowerblue" onclick="submitFollow()">Follow
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-primary m-1" id="followButton"
                            style="background-color: red" onclick="submitUnfollow()">Unfollow
                        </button>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="list-group mt-3">
    <h5>Tweets</h5>
    {% for tweet in tweets: %}
    <li class="list-group-item" id="{{tweet.id}}">
        <div class="flex-column">
            <div>
                <h5 class="fs-1"> Author: @{{user.username}}</h5>
                <h6 class="fw-bold">Title: {{tweet.title}}</h6>
                <p> Content: {{tweet.content}} </p>
                {% if own_profile : %}
                    <button type="button" class="btn btn-danger m-1 float-right" id="deleteTweet" onclick="deleteTweet({{tweet.id}})">Delete
                    </button>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block leftColumn %}
    <ul class="list-group m-1">
        <h5>Followers</h5>
        {% if followers|length == 0 %}
        <li class="list-group-item">
            <div class="flex-column">
                None yet!
            </div>
        </li>
        {% else %}
        {% for user in followers: %}
        <li class="list-group-item">
            <div class="flex-column">
                <div>
                    <a style="color: black;" href="/users/search/{{user.username}}">@{{user.username}}</a>
                </div>
            </div>
        </li>
        {% endfor %}
        {% endif %}

    </ul>
{% endblock %}

{% block rightColumn %}
    <ul class="list-group m-1" id="test">
        <h5>Followed users</h5>
        {% if followed|length == 0 %}
        <li class="list-group-item">
            <div class="flex-column">
                None yet!
            </div>
        </li>
        {% else %}
        {% for user in followed: %}
        <li class="list-group-item">
            <div class="flex-column">
                <div>
                    <a style="color: black;" href="/users/search/{{user.username}}">@{{user.username}}</a>
                </div>
            </div>
        </li>
        {% endfor %}
        {% endif %}
    </ul>

    <ul class="list-group m-1">
        {% if own_profile %}
            <h5>User recommandantation<br>You don't want to miss out:</h5>
            {% if recommandation|length == 0 %}
            <li class="list-group-item">
                <div class="flex-column">
                    No recommandation for you.
                </div>
            </li>
            {% else %}
            {% for user in recommandation: %}
            <li class="list-group-item">
                <div class="flex-column">
                    <div>
                        <a style="color: black;" href="/users/search/{{user.username}}">@{{user.username}}</a>
                    </div>
                </div>
            </li>
            {% endfor %}
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}

