/* change the background color */
body {
    height: 100%;
}

.navbar-custom {
    background-color: #1DA1F2;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* change the link color */
.nav-link {
    color: white;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}