/* change the background color */
body {
    height: 100%;
}

.navbar-custom {
    background-color: #1DA1F2;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* change the link color */
.nav-link {
    color: white;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}

/* create a rectangle around every tweet*/
.tweet {
    display: inline-block;
    font-family: "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 10px 5px;
    padding: 0 0 1px 0;
    max-width: 468px;
    min-width: 100%;
}

/* separate the header from the content of a tweet */
.tweet_header {
    width:100%;
    height:100%;
    padding: 0 5px 2px 5px;
    background:dodgerblue;
}

.tweet_content {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 5px 2px 5px;
}

/* sttle for a display of multiple tweets */
.tweet_list {
    padding: 10px;
    margin: 0 15% 0 15%;
    overflow:hidden;
    overflow-y:scroll;
    max-height: 500px;
    max-width: 50%;
}