{% extends 'base.html' %}
{% block title %}
{% if action == "register" %}
Register
{% elif action == "login" %}
Login
{% endif %}
{% endblock %}

{% block content %}
<script type="text/javascript">
    const page_action = "{{ action | safe }}"

    function onLogin() {
        const login_action = async () => {
            document.getElementById('loginError').style.display = 'none';
            let form_data = new FormData(document.getElementById('authForm'))

            if (page_action == "login") {
                target_url = "/auth/login"
            } else {
                target_url = "/auth/register"
            }
            const request = await fetch(target_url, {
                "method": "POST",
                "body": form_data
            })
            if (!request.ok && request.status == 401) {
                document.getElementById('loginError').style.display = 'block';
            }
            if (request.redirected) {
                window.location = request.url
            }
        }
        login_action.call()
    }


    window.onload = function () {
        document.getElementById('loginError').style.display = 'none';
        document.getElementById('loginSubmit').onclick = function (_) {
            onLogin()
        }
        var input = document.getElementById("password");
        input.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                onLogin()
            }
        });
    }

</script>
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="h-100 d-inline-flex flex-column justify-content-center mt-5 shadow mb-5 bg-white rounded">
        <nav class="nav navbar-custom">
            <li class="nav-item mx-auto">
                <label class="navbar-text">
                    {% if action == "register" %}
                    REGISTER
                    {% elif action == "login" %}
                    LOGIN
                    {% endif %}</label>
            </li>
        </nav>
        <div class="d-flex p-3">
            <form id="authForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="email" class="form-control" name="username" aria-describedby="emailHelp"
                        placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                        required>
                </div>
                <div id="loginError" class="invalid-feedback">
                    Oops! Invalid username or password.
                </div>
            </form>
        </div>
        <button class="btn btn-primary m-3" id="loginSubmit" class="btn btn-primary" type="submit">Submit</button>
    </div>
</div>

{% endblock %}