<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


    <title>{% block title %}{% endblock %} - Twetter</title>

    <script>
        function onLogout() {
            const logout_action = async () => {
                target_url = '/auth/logout'
                const request = await fetch(target_url, {
                    "method": "POST",
                })
                if (request.redirected) {
                    window.location = request.url
                }
            }
            logout_action.call()
        }

        function onSearch() {
            return new FormData(document.getElementById('searchForm'))
        }
    </script>
</head>

<body style="padding-top: 5rem">
    <nav class="nav navbar-custom fixed-top" style="padding: .5rem">

        <a class="navbar-brand mr-auto" href="/">
            <img src="/static/assets/twitter-32.png" width="32" height="32" class="d-inline-block align-top" alt="">
            Twetter
        </a>

        {% if g.user %}

        <a class="nav-link mr-3" id="logoutButton" class="nav-link" href="#" onclick="onLogout()">Log Out</a>

        <form class="form-inline" id="searchForm" action="/tweets/search_word" method="get" onsubmit="onSearch()">
            <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search"
                aria-label="Search" required>
            <button class="btn btn-outline-light my-2 my-sm-0">Search</button>
        </form>
        {% else %}
        <a class="nav-link mr-3" href="{{ url_for('auth.login') }}">Log In</a>

        <a class="nav-link mr-3" href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}

    </nav>

    <main class="container">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>